RewriteEngine On
RewriteBase /tamrinb/ecommerce1/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tamrinb/ecommerce1/index.php [L]